<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="text-align : justify; font-size:14px;">
        Es muy bien sabido que el cambio de la lactancia a alimentos complementos sólidos es una
        etapa, la cual afecta notablemente la productividad de la granja porcina.
        Siendo factor importante de cambios en el sistema digestivo del cerdo, ya sea reducción en
        la altura de las vellosidades, incremento de la profundidad de las criptas, disminución de la
        capacidad digestiva y de absorción de nutrientes.
        <br />
        Todos estos cambios son resultado de un periodo de deficiencia nutricional; también tiene
        efecto en la energía del animal lo cual hace que a su vez, el peso vaya disminuyendo
        <br />
        La transición en la que el gorrino pasa de tomar leche materna en la etapa del pre-destete
        a una dieta seca, es un momento crucial, en él se define el éxito o fracaso de la producción
        porcina.
        La disminución del crecimiento y presencia de enfermedades, son conflictos que se pueden
        evitar con el fin de no afectar negativamente la conversión alimenticia y consecuentemente,
        la rentabilidad.
        <br />
        <br />
        <p>PREINICIADOR:</p>
        <br />
        Un alimento preindicador debe tener ciertas características, como ser completamente nutritivo,
        de buen sabor y sobre todo digestible. Su objetivo es estimular el consumo de alimento
        con el fin de que el cerdo consuma más energía.
        Cuando se integran alimentos base maíz y torta de soya a este destete, es muy probable
        que se refleje un bajo consumo, diarreas y un crecimiento muy lento, por lo que no se denomina
        un preiniciador.
        Un preiniciador integra ingredientes y un control de procesos especiales, normas de formulación
        que crean un balance de energía y sobre todo, de proteína y aminoácidos. Además,
        se puede obtener a partir de ingredientes que son altamente digestibles, como subproductos
        de leche ( suero seco de leche, leche en polvo, lactosa), harina de pescado de alta calidad,
        plasma porcino, aceites de primera calidad, aminoácidos funcionales, aditivos estraté-
        gicos, etc. y procesos de fabricación controla como molienda fina de ingredientes, peletizado,
        etc.
        El animal después de los primeros 10 días post-destete tiene la mejor conversión alimenticia
        (CA) de todo su crecimiento siendo esta igual o muy cercana a 1.1, en contraste con
        3.00 de CA al alcanzar los 100 Kg.
        <br /><br />
        <p>ETAPAS Y SU IMPACTO</p>
        <br />
        Desde la experiencia y conocimiento de los nutricionistas, existe la necesidad de cumplir
        con las necesidades de un animal muy joven y a su vez, con su sistema digestivo inmaduro.
        Viéndose obligados a conocer los programas de alimentación de los lechones. Sin perder
        la importancia de la selección de materias primas y el porcentaje de inclusión de dieta.
        Dada la informació anterior, es importante conocer al animal tanto por fuera como por
        dentro y elegir las dietas que requiera, en donde apliquen los adecuados conceptos nutricionales,
        fisiológicos y sanitarios, ya que en este alimento incluye los promotores y antibióticos
        que el animal necesita.
        <br />
        <br />
        <p>ALIMENTACIÓN PRE-DESTETE</p>
        <br />
        Como bien sabemos, la leche materna es de vital importancia en las dos primeras semanas
        de vida para un lechon, ya que cubre los requerimientos que el animal necesita; para
        la tercera semana cubre un 95% de estos requerimientos.
        El factor de que este porcentaje baje se debe a la implementación del preiniciador, éste
        debe darse entre los 7 a 10 días de nacido, para que el cerdo se vaya adaptando al
        alimento seco y sobre todo distinto a la leche.
        El consumo de alimento pre-destete mejora el desarrollo del tracto digestivo, el sistema
        enzimático y por supuesto, incrementa el consumo post-destete.
        <br />
        <br />
        <table style="font-size:13px;">

            <tr>
                <td style="background-color:#3c454e; color:white; text-align:center"></td>
                <td style="background-color:#3c454e; color:white; text-align:center">Peso al nacer (Kg.)</td>
                <td style="background-color:#3c454e; color:white; text-align:center">Peso al destete 20 días (Kg.)</td>
                <td style="background-color:#3c454e; color:white; text-align:center">Peso a los 50 días (Kg.)</td>

            </tr>

            <tr>
                <td style="background-color:#3c454e; color:white;">Sin preiniciador</td>
                <td>
                    <img src="../Content/img/articulos/cerdo-01.png" />
                </td>
                <td>
                    <img src="../Content/img/articulos/cerdo-02.png" />
                </td>
                <td>
                    <img src="../Content/img/articulos/cerdo-03.png" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align:center">1.63</td>
                <td style="text-align:center">6.67</td>
                <td style="text-align:center">18.7</td>
            </tr>


            <tr>
                <td style="background-color:#3c454e; color:white;">Con preiniciador</td>
                <td>
                    <img src="../Content/img/articulos/cerdo-01.png" />
                </td>
                <td>
                    <img src="../Content/img/articulos/cerdo-02.png" />
                </td>
                <td>
                    <img src="../Content/img/articulos/cerdo-03.png" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align:center">1.68</td>
                <td style="text-align:center">7.44</td>
                <td style="text-align:center">20.8</td>
            </tr>

        </table>

        <table>
           <tr>
               <td style="background-color:#3c454e; color:white; text-align:center"></td>
               <td style="background-color:#3c454e; color:white; text-align:center">Consumo dieta seca gr./día </td>
               <td style="background-color:#3c454e; color:white; text-align:center">Conversión alimenticia</td>
           </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Sin preiniciador</td>
                <td style="text-align:center">522</td>
                <td style="text-align:center">0.86</td>
            </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Con preiniciador</td>
                <td style="text-align:center">676</td>
                <td style="text-align:center">0.69</td>
            </tr>
        </table>
        <br />
        <p>RENTABILIDAD</p>
        <br />
        Por supuesto que los alimentos preiniciadores son súmamente rentables, ya que son consumidos
        en la etapa donde la fisiología del cerdo es más eficiente para transformar el
        alimento en peso vivo. Si se elige un preiniciador de alta calidad se mostrará su eficiencia
        al obtener un mejor incremento de peso en el menor tiempo, lo que nos lleva a un muy
        buen ahorro económico.
        <br />
        <br />
        <p>IMPULSO PARA EL CRECIMIENTO</p>
        <br />
        El objetivo de los preindicadores de buena calidad, es hacer de la etapa de crecimiento
        una etapa eficiente en la que se obtenga mayor peso en el menor número de días.
        Al inicio del consumo del preiniciador se podrán notar pequeñas diferencias del peso,
        pero al final, este número se ampliará mucho más.
        Cabe mencionar que el crecimiento acelerado en el post-destete impulsa un mejor desempeño
        de crecimiento, así como:
        <br />
        <br />
        <ul>
            <li>Menor tiempo para alcanzar el mismo peso.</li>
            <li>Menor consumo de alimento para el mismo peso.</li>
            <li>Mejor conversión alimenticia.</li>
            <li>Menor costo de alimentación por kg ganado de peso.</li>
        </ul>
        <br />
        VARIACIÓN DE PESO:
        <br />
        <br />
        Teniendo un programa de preiniciadores de alta calidad, se logra acelerar el crecimiento
        del cerdo, le brinda una nutrición más precisa y además controlados la variación de peso
        del lote para de esta manera lograr un mayor número de lechones con un peso óptimo al
        finalizar cada una de las etapas de crecimiento.
        El cerdo sólo alcanza el 80% de su potencial de crecimiento. Si conocemos el grado de
        variación de pesos dependiendo la edad podremos aplicar manejos especiales en los
        animales en temas como la morbilidad, mortalidad, entre otros. De esta manera será posible
        centralizar la atención especializada en dichos lechones para mejorar su eficiencia
        productiva, como lo es, asignar una temperatura apropiada a los corrales de lechones
        dependiendo su edad.
        <br />
        <br />
        <h4>Influencia de peso al nacimiento sobre desempeño posterior</h4>
        <table style="font-size:13px;">
            <tr>
                <td style="background-color:#3c454e; color:white; text-align:center;">Grupo de rango de peso</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">A</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">B</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">C</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">D</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">E</td>
                <td style="background-color:#3c454e; color:white; text-align:center;">F</td>
            </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Peso nacimiento (Kg.)</td>
                <td>&lt;1.0</td>
                <td>1.0 - 1.2</td>
                <td>1.2 - 1.4</td>
                <td>1.4 - 1.6</td>
                <td>1.6 - 1.8></td>
                <td>1.8</td>
            </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Días a sacrificio</td>
                <td>184</td>
                <td>184</td>
                <td>182</td>
                <td>180</td>
                <td>181</td>
                <td>177</td>
            </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Peso sacrificio (Kg.)</td>
                <td>100.8</td>
                <td>104.2</td>
                <td>108.4</td>
                <td>109.5</td>
                <td>108.6</td>
                <td>110.5</td>
            </tr>
            <tr>
                <td style="background-color:#3c454e; color:white;">Peso canal (Kg.)</td>
                <td>82.6</td>
                <td>83.6</td>
                <td>85.8</td>
                <td>86.5</td>
                <td>86.3</td>
                <td>88.2</td>
            </tr>

            <tr>
                <td style="background-color:#3c454e; color:white;">Peso ajustado a 184 días</td>
                <td>82.6</td>
                <td>83.6</td>
                <td>85.8</td>
                <td>86.5</td>
                <td>86.3</td>
                <td>88.2</td>
            </tr>

        </table>
        <span style="font-size:12px;">
            <i>
                Desde el nacimiento, las pequeñas diferencias en peso se amplían, por ejemplo: entre un peso de 1.3 a 1.5 kg (C y D) hay una
                diferencia de 200 gramos, pues bien esta “pequeña” diferencia se convierte en una diferencia de 2.3 kg. (111.9 - 109.6). Así,
                entre los lechones con menos de 1 kg. al nacimiento (A) y los de más de 1.8 kg. (F), hay una diferencia de 800 gramos, pero a
                sacrificio se convierte en una diferencia de casi 14 kg (114.9 vs 100.8 kg.)
            </i>
        </span>
        <br />
        <br />
        Desde el nacimiento, las pequeñas diferencias en peso se amplían, por ejemplo: entre un
        peso de 1.3 a 1.5 kg (C y D) hay una diferencia de 200 gramos, pues bien esta “pequeña”
        diferencia se convierte en una diferencia de 2.3 kg. (111.9 - 109.6). Así, entre los lechones
        con menos de 1 kg. al nacimiento (A) y los de más de 1.8 kg. (F), hay una diferencia de 800
        gramos, pero a sacrificio se convierte en una diferencia de casi 14 kg (114.9 vs 100.8 kg.)
        <br />
        <br />
        <p>CONSIDERACIONES FINALES</p>
        <br />
        La razón por la cual el consumo de alimento baja durante el destete, se debe a la separación
        de la madre, cambio de ambiente, cambio de alimento (leche a alimento sólido).
        Es imprescindible conocer la fisiología digestiva del lechón destetado para formular dietas
        que sean altamente digestibles, que superen los desafíos del destete. Es favorable, proporcionar
        alimento preiniciador de calidad a los lechones en etapa de lactancia antes del destete,
        con el fin de que el lechón se acostumbre al alimento y aumente su consumo durante
        la lactancia, además de estimular el desarrollo de enzimas digestivas.
        Los preiniciadores contienen antibióticos que previenen enfermedades, y cuando no existe
        enfermedad, funcionan como promotores de crecimiento, lo que justifica su uso.
        El fin de los preindicadores es mejorar la salud intestinal, de esta forma se reducen los riesgos
        de desórdenes digestivos y posibles enfermedades. Los que son de alta calidad, logran
        un peso óptimo en el menor número de días, por lo que reducen los días al mercado y el
        consumo de alimento, esto permite lograr un ahorro económico. Es decir, son altamente
        rentables.
    </div>
</body>
</html>