<section id="template-header">
    <div class="row">
        <div class="large-10 medium-10 columns">
            <div class="frase">
                <h2>Productos</h2>
            </div>
        </div>
        <!-- <div class="large-4 medium-4 columns">
            <img src="~/Content/img/imago-malta.svg" alt="">
        </div> -->
    </div>
</section>
<section id="loop-productos">
    <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column">
            <div id="loop-1" class="loop-productos">
                <img src="~/Content/img/e-ganado-carne.svg" alt="">
                <h4>Ganado de Carne</h4>
                <p><a href="/Productos/especie?id_especie=1" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-2" class="loop-productos">
                <img src="~/Content/img/e-ganado-lechero.svg" alt="">
                <h4>Ganado Lechero</h4>
                <p><a href="/Productos/especie?id_especie=2" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-3" class="loop-productos">
                <img src="~/Content/img/e-borregos.svg" alt="">
                <h4>Borregos</h4>
                <p><a href="/Productos/especie?id_especie=3" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-4" class="loop-productos">
                <img src="~/Content/img/e-cerdos.svg" alt="">
                <h4>Cerdos</h4>
                <p><a href="/Productos/especie?id_especie=5" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-5" class="loop-productos">
                <img src="~/Content/img/e-cabras.svg" alt="">
                <h4>Cabras</h4>
                <p><a href="/Productos/especie?id_especie=4" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-6" class="loop-productos">
                <img src="~/Content/img/e-aves-postura.svg" alt="">
                <h4>Aves Postura</h4>
                <p><a href="/Productos/especie?id_especie=6" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-7" class="loop-productos">
                <img src="~/Content/img/e-pollo-engorda.svg" alt="">
                <h4>Pollo engorda</h4>
                <p><a href="/Productos/especie?id_especie=7" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-8" class="loop-productos">
                <img src="~/Content/img/e-gallos.svg" alt="">
                <h4>Gallos</h4>
                <p><a href="/Productos/especie?id_especie=8" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-9" class="loop-productos">
                <img src="~/Content/img/e-pavos.svg" alt="">
                <h4>Pavos</h4>
                <p><a href="/Productos/especie?id_especie=9" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-10" class="loop-productos">
                <img src="~/Content/img/e-codornices.svg" alt="">
                <h4>Codornices</h4>
                <p><a href="/Productos/especie?id_especie=10" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-11" class="loop-productos">
                <img src="~/Content/img/e-caballos.svg" alt="">
                <h4>Caballos</h4>
                <p><a href="/Productos/especie?id_especie=11" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-12" class="loop-productos">
                <img src="~/Content/img/e-conejos.svg" alt="">
                <h4>Conejos</h4>
                <p><a href="/Productos/especie?id_especie=12" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-13" class="loop-productos">
                <img src="~/Content/img/e-camarones.svg" alt="">
                <h4>Camarones</h4>
                <p><a href="/Productos/especie?id_especie=13" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-14" class="loop-productos">
                <img src="~/Content/img/e-truchas.svg" alt="">
                <h4>Truchas</h4>
                <p><a href="/Productos/especie?id_especie=14" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-15" class="loop-productos">
                <img src="~/Content/img/e-tilapias.svg" alt="">
                <h4>Tilapias</h4>
                <p><a href="/Productos/especie?id_especie=15" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-16" class="loop-productos">
                <img src="~/Content/img/e-bagres.svg" alt="">
                <h4>Bagres</h4>
                <p><a href="/Productos/especie?id_especie=16" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-17" class="loop-productos">
                <img src="~/Content/img/e-perros.svg" alt="">
                <h4>Perros</h4>
                <p><a href="/Productos/especie?id_especie=17" class="button small">Ver productos</a></p>
            </div>
        </div>
        <div class="column">
            <div id="loop-18" class="loop-productos">
                <img src="~/Content/img/e-gatos.svg" alt="">
                <h4>Mininos®</h4>
                <p><a href="/Productos/especie?id_especie=18" class="button small">Ver productos</a></p>
            </div>
        </div>
        <!--div class="column">
            <div id="loop-19" class="loop-productos">
                <img src="~/Content/img/e-salud.svg" alt="">
                <h4>Salud</h4>
                <p><a href="/Home/Salud" class="button small">Ver productos</a></p>
            </div>
        </!--div-->


    </div>
</section>