@{
    ViewBag.Title = "Aviso de privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="template-header">
    <div class="row">
        <div class="large-10 medium-10 columns">
            <div class="frase">
                <h2>Aviso de Privacidad</h2>
                <!-- <p>maltaCleyton se preocupa por las cuestiones de privacidad y deseamos que usted esté familiarizado con la manera en que recabamos, usamos y divulgamos la información.</p> -->
            </div>
        </div>
        <!-- <div class="large-4 medium-4 columns">
            <img src="img/imago-malta.svg" alt="">
        </div> -->
    </div>
</section>
<section id=“aviso-privacidad”>
    <div class=“row”>
        <div class=“large-12 columns”>
            <p>Malta Texo de México, S.A. de C.V., (“maltaCleyton”), con domicilio para oír y recibir notificaciones en Insurgentes Sur No. 1602 Int. 19, Col. Crédito Constructor, Benito Juárez, México DF. CP 03940  incluyendo empresas filiales y subsidiarias en la República Mexicana, da cumplimiento a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares misma que fue publicada en el Diario Oficial de la Federación con fecha 5 de julio de 2010.</p>
            <p>maltaCleyton se preocupa por las cuestiones de privacidad y deseamos que usted esté familiarizado con la manera en que recabamos, usamos y divulgamos la información.</p>
            <p>Los términos que se utilicen en el presente aviso de privacidad (en lo sucesivo referido como “Aviso”) tendrán la definición que a los mismos le asigne dicha Ley Federal de Protección de Datos Personales en Posesión de Particulares, (en lo sucesivo referida como la “Ley”), con excepción expresa de aquellos que aquí se definen.</p>
            <p>La presente Política de Privacidad (denominada la “Política”) explica cómo procesamos los datos personales. A lo largo de esta Política, la expresión “datos personales” hace referencia a la información que se relaciona con una persona identificada o identificable.</p>
            <p>En nuestros productos o servicios puede haber enlaces a sitios web y servicios de otras empresas que tienen sus propias políticas de privacidad. Le recomendamos que lea las políticas de privacidad en dichos servicios de terceros. maltaCleyton en ningún momento ni bajo circunstancia alguna es responsable de las prácticas de privacidad o de los contenidos de tales servicios de terceros.</p>
            <p>Al utilizar este sitio web o al enviar datos personales o de su negocio a maltaCleyton, usted acepta el procesamiento de sus datos personales de la forma que se explica en la presente Política. Si usted no acepta esta Política, por favor no proporcione sus datos personales o de su negocio a maltaCleyton.</p>
            <h5>¿Qué datos recopilamos?</h5>
            <p>Por lo general, reunimos sus datos personales o de su negocio cuando hace una compra, se registra como usuario de nuestros productos y servicios o los usa, toma parte en una campaña o de alguna otra forma interactúa con nosotros. Dicha información puede ser tanto aquella que usted nos proporciona como la que recopilamos relativa a la compra y el uso que usted haga de nuestros productos y servicios y demás interacciones entre usted y maltaCleyton. Esa información puede incluir detalles de las consultas o solicitudes que usted haya hecho, los productos suministrados, detalles de las entregas, número de cuenta bancaria, detalles de la tarjeta de crédito en su caso, dirección de facturación, verificaciones de capacidad de crédito y demás información financiera similar, registros de contactos y comunicaciones, información y detalles relativos al contenido que usted haya entregado y demás información similar de las transacciones. De conformidad con las normas pertinentes, podemos grabar sus comunicaciones con nuestro servicio de atención al cliente u otros puntos de contacto similares.</p>
            <h5>Cookies y Otras Tecnologías</h5>
            <p>La página web, los servicios online, las aplicaciones interactivas, los mensajes de correo electrónico y las publicidades de maltaCleyton pueden utilizar “cookies” y otras tecnologías, tales como etiquetas de píxel y contador de visitas. Estas tecnologías nos permiten comprender mejor la conducta del usuario, nos informan qué partes de nuestra página web fueron visitadas, y facilitan y cuantifican la efectividad de las publicidades y las búsquedas en la web. Toda la información recopilada mediante cookies y otras tecnologías es tratada como información general. Sin embargo, en la medida en que la legislación local considere a las direcciones IP (Protocolo de Internet) o a identificadores similares como información personal, también lo hará maltaCleyton.</p>
            <p>De igual manera, en la medida en que la información general se combine con datos personales, maltaCleyton tratará a la información así combinada como información personal a los efectos de la presente Política de Privacidad.</p>
            <h5>Su Información Personal podrá divulgarse de la siguiente manera:</h5>
            <ol>
                <li>Dentro del Grupo de Compañías de maltaCleyton con los fines descritos en esta Política.</li>
                <li>Frente a terceros que prestan servicios a maltaCleyton, como alojamiento de sitio web, análisis de datos, procesamiento de pagos, cumplimiento de pedidos, distribución de productos, suministro de infraestructura, servicios de Informática, servicios de atención al cliente, servicios de entrega de correo electrónico, procesamiento de tarjetas de crédito en su caso, servicios de auditoría y otros servicios similares que les permita prestar servicios.</li>
                <li>Frente a terceros, como agentes y distribuidores, para facilitar la venta y distribución de productos y servicios de maltaCleyton, que pueden incluir comunicaciones de marketing. maltaCleyton divulgará su información según lo considere necesario o apropiado: (a) de acuerdo con la ley aplicable, (b) para cumplir con los procesos legales; (c) para responder a solicitudes debidamente motivadas y fundamentadas de autoridades públicas y gubernamentales, incluidas autoridades públicas y gubernamentales que no son de su país de residencia; (d) para exigir el cumplimiento de los términos y condiciones comerciales de maltaCleyton; (e) para proteger las operaciones de maltaCleyton; (f) para proteger los derechos, la privacidad, la seguridad o los bienes de maltaCleyton, de usted o de terceros; y (g) para permitirle a maltaCleyton ejercer los recursos que tenga a su disposición o limitar los daños que podamos sufrir.</li>
                <li>Por usted, cuando usa funciones de un Sitio o Aplicación de maltaCleyton que le permiten interactuar con maltaCleyton y con otros (por ejemplo, un blog, un panel de anuncios, mensajería, chat, perfil u otros medios sociales). Cuando usa estas funciones, debe ser consciente de que cualquier información que presente, incluidos su nombre, lugar y dirección de correo electrónico, puede volverse pública. maltaCleyton no se hace responsable por información que usted desee presentar a través de estas funciones y le recomendamos categóricamente que no divulgue Información Personal delicada (como información de salud o de tarjetas de crédito) mediante estas funciones. Si las usa, su Información Personal permanecerá en el Sitio o en la Aplicación incluso después de que deje de usar el Sitio o la Aplicación.</li>
            </ol>
            <h5>¿Cuáles son sus derechos?</h5>
            <p>Usted tiene derecho a saber cuáles datos personales suyos tenemos así como el uso que les damos. Tiene derecho a exigir que se rectifiquen (si se encuentran incompletos, incorrectos, desactualizados o si son innecesarios), cancelen (procede cuando los datos otorgados son inadecuados o excesivos)  y oponerse a que hagamos uso de éstos, (cuando los datos fueron recabados sin su consentimiento).</p>
            <p>Usted puede ejercer sus derechos enviándonos una solicitud a nuestro correo electrónico <a href=“mailto:datospersonales@maltatexo.com.mx”>datospersonales@maltatexo.com.mx</a>, o directamente en nuestro domicilio Insurgentes Sur No. 1602 Int. 19, Col. Crédito Constructor, Benito Juárez, México DF. CP 03940.</p>
            <p>Queda entendido que para que maltaCleyton pueda atender correcta y oportunamente cualquiera de las solicitudes a las que se refiere esta sección, la solicitud del titular deberá contener como mínimo: I. El nombre completo del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud; II.- Los documentos que acrediten la identidad o, en su caso, la representación legal titular; III. La descripción clara y precisa de los datos personales de los cuales se busca ejercer alguno de los derechos antes mencionados, y IV. Cualquier otro elemento o documento que facilite la localización de los datos personales. Nuestra respuesta a su solicitud será enviada dentro del plazo permitido por la Ley al correo electrónico del remitente de la misma.</p>
            <p>Favor de tomar en cuenta que puede ser necesario que maltaCleyton lo identifique y le pida información adicional para poder satisfacer una solicitud suya. Además, nótese que las normas pertinentes pueden incluir restricciones y otras disposiciones que se relacionen con sus derechos.</p>
            <p>En algunos casos, especialmente si desea que maltaCleyton elimine datos personales o que deje de procesarlos,  puede entenderse que posiblemente no podamos seguir prestándole servicios. No obstante, si usted rechaza la correspondencia de maltaCleyton relativa a mercadeo y de otra índole, de todas formas podemos enviarle si desea alertas críticas relacionadas con nuestros productos y servicios o comunicarnos con usted para estos fines.</p>
            <h5>¿Quién controla sus datos personales y cual es un punto de contacto?</h5>
            <p>Malta Texo de México, con sede en México controla sus datos personales, usted puede contactarlo en www.maltacleyton.com.mx, maltaCleyton cuenta con los recursos técnicos, materiales y humanos necesarios para asegurar que los datos personales del usuario serán tratados en estricto apego a la Ley.</p>
            <p>El usuario reconoce y acepta que una de las finalidades del tratamiento de sus datos personales es cumplir con sus obligaciones contractuales y/o comerciales que mantiene y/o mantendrá con maltaCleyton, por lo que no podrá cancelar y/u oponerse al tratamiento de datos personales que puedan y/o pudieran afectar y/o restringir el cumplimiento de las mismas.</p>
            <h5>Modificaciones al aviso de privacidad</h5>
            <p>maltaCleyton expresamente se reserva el derecho, bajo su exclusiva discreción, de cambiar, modificar, agregar o eliminar partes del presente Aviso en cualquier momento. En tal caso, maltaCleyton publicará en el sitio web www.maltacleyton.com.mx las modificaciones que se le practiquen al Aviso e indicará en la parte superior de la página electrónica de dicho sitio la fecha de última versión del Aviso. En la medida que el usuario no solicite, en los términos antes mencionados, la cancelación y/u oposición de sus datos personales y continúe accediendo y/o utilizado, parcial o totalmente, los Servicios, implicará que ha aceptado y consentido tales cambios y/o modificaciones al Aviso.</p>
            <p>Al proporcionar sus datos personales a maltaCleyton el usuario expresamente reconoce y acepta el presente Aviso, según el mismo pueda ser ajustado o modificado de tiempo en tiempo, y también otorga su consentimiento para que maltaCleyton proceda con el procesamiento de sus datos personales de la forma que se explica en el presente. Si el usuario no acepta este Aviso, podrá ejercer los derechos que le confiere la Ley, según se describió con anterioridad.</p>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var ROOT = '@Url.Content("~/Content/")';
        $('#nosotros-header').parallax({ imageSrc: ROOT + 'img/bg-nosotros.jpg' });
        $('#nosotros-identidad').parallax({ imageSrc: ROOT + 'img/bg-nosotros-historia.jpg' });
        $('#nosotros-historia').parallax({ imageSrc: ROOT + 'img/bg-nosotros-neovia.jpg' });
        $('#template-header').parallax({ imageSrc: ROOT + 'img/bg-templete.jpg' });
    });
</script>