@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Nosotros";
}
<section id="nosotros-header">
			<div class="row">
				<div class="large-10 medium-10 columns">
					<div class="frase">
						<h2>SOMOS MALTACLEYTON® / NEOVIA</h2>
						<p>Como tú, nosotros compartimos una pasión: somos amantes de los animales y su bienestar.</p>
						<p>Es así que hoy, como desde hace 65 años, integramos un equipo de expertos que innova para ofrecerte lo mejor en nutrición y salud animal.</p>
						<p>Cuidar de las especies más nobles del planeta, exige mantenernos a la vanguardia, ésta es la clave que nos motiva a desarrollar productos de la más alta calidad, respaldados por estudios de zootecnia, genética y bioseguridad que garantizan alimentos especializados para cada especie, en cada etapa de vida.</p>
					</div>
				</div>
			</div>
		</section>

			<section id="nosotros-neovia">
			<div class="row">
				<div class="large-7 medium-7 columns text-center">
					<div class="row small-up-1 medium-up-3 large-up-3">
						<div class="column">
							<p>Estamos en <br> 28 países</p>
						</div>
						<div class="column">
							<p>7,000 colaboradores</p>
						</div>
						<div class="column">
							<p>7 líneas de negocios</p>
						</div>
					</div>
					<img src="~/Content/img/mapa-neovia.png" alt="neovia MaltaCleyton">
					<div class="row small-up-1 medium-up-3 large-up-3">
						<div class="column">
							<p>74 sitios de producción</p>
						</div>
						<div class="column">
							<p>Ventas por 1.6 billones de euros</p>
						</div>
						<div class="column">
							<p>11 centros de investigación aplicada</p>
						</div>
					</div>
				</div>
				<div class="large-5 medium-5 columns">
					<h3>Tecnología Avanzada a tu alcance</h3>
					<ul>
						<li>Laboratorios especializados</li>
						<li>Centros de investigación y desarrollo</li>
						<li>Centros experimentales (ganados, aves, conejos, etc.)</li>
						<li>Investigación y nuevos productos</li>
					</ul>
					<br><br>
					<p class="lead">Centro de innovación global “We’Nov” único en su categoría</p>
				</div>
			</div>
		</section>

		<section id="nosotros-identidad">
			<div class="row">
				<div class="large-4 medium-4 columns">
					<h3>Así nos identificamos</h3>
					<hr>
					<p>Trabajamos bajo la <strong>VISIÓN</strong> de  Ser reconocidos como los expertos en nutrición y salud animal en el norte de Latinoamérica.</p>
				</div>
				<div class="large-8 medium-8 columns">
					<h4>Con la <strong>MISIÓN</strong> de</h4>
					<ul>
						<li>Agregar valor a través de nuevos productos y servicios.</li>
						<li>Asegurar una calidad consistente y productos de óptimo desempeño.</li>
						<li>Acercarnos a nuestros clientes, actuales y potenciales, para satisfacer sus necesidades.</li>
						<li>Actuar y vivir con honestidad, ética e integridad.</li>
						<li>Impulsar un entorno diverso, incluyente y respetuoso.</li>
						<li>Asegurar nuestra viabilidad financiera.</li>
					</ul>
					<h4>Y los <strong>VALORES</strong> son nuestros pilares:</h4>
					<ul>
						<li>Respeto</li>
						<li>Confianza</li>
						<li>Compromiso</li>
						<li>Honestidad</li>
						<li>Pasión</li>
						<li>Entusiasmo</li>
					</ul>
				</div>
			</div>
		</section>

		<section id="nosotros-historia">
			<div class="row">
				<div class="large-4 medium-4 columns">
					<img src="~/Content/img/planta-morelos.jpg" alt="Planta MaltaCleyton">
				</div>
				<div class="large-8 medium-8 columns">
					<h2><strong>Calidad</strong> con historia</h2>
					<p>Los logros de cada cliente son los nuestros, por eso buscamos su crecimiento. Nos apoyamos de grandes aliados como Anderson Clayton, S.A., Malta S.A., Grupo Visa, Unilever, Countrymark y Growmark, para impulsar el éxito del sector pecuario, de especialidades, acuicultura y mascotas; trascendiendo las fronteras de México.</p>
					<p>Además, con esta visión de desarrollo, enfocada a ofrecer mayores beneficios a nuestros clientes, a partir de 2011 maltaCleyton® se integró al 100% a Neovia, grupo francés líder en el ramo.</p>
				</div>
			</div>
			<br><br>
			<div id="nosotros-soluciones">
				<div class="row">
					<div class="large-5 medium-5 columns">
						<h3><strong>MALTACLEYTON / NEOVIA</strong> <br>ES SOLUCIONES PARA TU NEGOCIO</h3>
						<hr>
						<ul>
							<li>Somos la única empresa en México que ofrece productos nutricionales y farmacéuticos para todas las especies productivas y de alta estima.</li>
							<li>Elaboramos alimento balanceado en diversas presentaciones para todos los mercados.</li>
							<li>Contamos con nutriólogos expertos en el desarrollo de productos de alto desempeño.</li>
							<li>Tenemos una estructura comercial sólida que permite desarrollar tu negocio.</li>
							<li>Contamos con un respaldo de fuerza de ventas calicada.</li>
							<li>Con pruebas avaladas por laboratorios de Neovia.</li>
							<li>Contamos con un servicio técnico especializado en granja.</li>
							<li>Nuestros productos son reconocidos por su desempeño.</li>
						</ul>
						
					</div>
					<div class="large-7 medium-7 columns">
						<h4>ORIENTADOS A LA <strong>CALIDAD</strong></h4>
						<ul>
							<li>Control estricto de materia primas.</li>
							<li>Control de procesos.</li>
						</ul>
						<h4>ORIENTADOS AL <strong>SERVICIO</strong></h4>
						<ul>
							<li>Plantas que dan servicio a toda la República.</li>
							<li>Apoyos promocionales.</li>
							<li>SmartCenter.</li>
							<li>Pláticas técnicas.</li>
							<li>Estrategias para el desarrollo de mercados.</li>
							<li>Esquemas de incentivos/crecimiento.</li>
							<li>Vendedor externo.</li>
						</ul>
						<h4>INDICADORES DE <strong>ÉXITO MALTACLEYTON®</strong></h4>
						<ul>
							<li>-Capacidad de producción anual: +1,300,000 toneladas</li>
							<li>-Facturación: 300 millones de dólares anualmente</li>
							<li>-Distribución: +1,255 distribuidores en todo México.</li>
							<li>-Más de 1500 trabajadores.</li>
							<li>-Volumen de producción: +851,792 toneladas anuales.</li>
						</ul>
					</div>
				</div>
			</div>
		</section><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var ROOT = '@Url.Content("~/Content/")';
        $('#template-header').parallax({ imageSrc: ROOT + 'img/bg-templete.jpg' });
        $('#nosotros-header').parallax({ imageSrc: ROOT + 'img/bg-nosotros.jpg' });
        $('#nosotros-identidad').parallax({ imageSrc: ROOT + 'img/bg-nosotros-historia.jpg' });
        $('#nosotros-historia').parallax({ imageSrc: ROOT + 'img/bg-nosotros-neovia.jpg' });
    });
</script>