@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Red de Distribuidores";
}
<section id="nosotros-header">
    <div class="row">
        <div class="large-10 medium-10 columns">
            <div class="frase">
                <h2>Si formas parte de nuestra Red de Distribuidores da clic en  cualquiera de los siguientes links:</h2>
                <div class="row">
                    <div class="large-4 medium-6 columns">
                        <a href="http://catalogo.maltacleyton.com.mx" class="button expanded">Plan Lealtad</a>
                    </div>
                    <div class="large-4 medium-6 columns">
                        <a href="http://200.78.224.210:82/mc/Home.aspx" class="button expanded">Servicios en línea</a>
                    </div>
                    <div class="large-4 medium-6 columns">
                        <a href="~/Quotation/login.html" class="button expanded">Cotizador</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        var ROOT = '@Url.Content("~/Content/")';
        $('#nosotros-header').parallax({ imageSrc: ROOT + 'img/bg-nosotros.jpg' });
        $('#nosotros-identidad').parallax({ imageSrc: ROOT + 'img/bg-nosotros-historia.jpg' });
        $('#nosotros-historia').parallax({ imageSrc: ROOT + 'img/bg-nosotros-neovia.jpg' });
    });
</script>
