.btn {
    *border-bottom-color: #438220;
    display: inline-block;
    *border-left: 0 none #8dd962;
    border-right: 0 none #8dd962;
    border-top: 0 none #8dd962;
    border-bottom: 0 none #63bf2f;
    display: inline;
    *zoom: 1;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    *line-height: 20px;
    padding: 10px 50px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    vertical-align: middle;
    background-color: #6dbd41;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    margin-left: .3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -ms-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
    background-image: linear-gradient(top, #58ab2a, #8dd962);
    *;
}

    .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
        background-color: #8dd962;
        *background-color: #7ed44e;
    }

    .btn:active, .btn.active {
        background-color: #6fce3a \9;
    }

    .btn:first-child {
        *margin-left: 0;
    }

    .btn:hover {
        color: #000000;
        text-decoration: none;
        background-color: #8dd962;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        *background-color: #8dd962;
        background-position: 0 -15px;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -1px;
    }

    .btn.active, .btn:active {
        background-color: #e6e6e6;
        background-color: #d9d9d9 \9;
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 round(@baseFontSize * 0.2) round(@baseFontSize * 0.3) rgba(0,0,0,.15), 0 1px round(@baseFontSize * 0.2) rgba(0,0,0,.05);
        -moz-box-shadow: inset 0 round(@baseFontSize * 0.2) round(@baseFontSize * 0.3) rgba(0,0,0,.15), 0 1px round(@baseFontSize * 0.2) rgba(0,0,0,.05);
        -o-box-shadow: inset 0 round(@baseFontSize * 0.2) round(@baseFontSize * 0.3) rgba(0,0,0,.15), 0 1px round(@baseFontSize * 0.2) rgba(0,0,0,.05);
        box-shadow: inset 0 round(@baseFontSize * 0.2) round(@baseFontSize * 0.3) rgba(0,0,0,.15), 0 1px round(@baseFontSize * 0.2) rgba(0,0,0,.05);
    }

    .btn.disabled, .btn[disabled] {
        color: #808080;
        cursor: default;
        background-color: #e6e6e6;
        background-image: none;
        text-shadow: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

.btn-large {
    padding: 9px 13px;
    font-size: 2px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

    .btn-large [class^="icon-"] {
        margin-top: 1px;
    }

.btn-small {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 14.379999999999999px;
}

    .btn-small [class^="icon-"] {
        margin-top: -1px;
    }

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 12.379999999999999px;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
        color: rgba(255, 255, 255, 0.75);
    }

.btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: #4bab2a;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #58ab2a, #38ab2a);
    border-left-color: #38ab2a;
    border-right-color: #38ab2a;
    border-top-color: #38ab2a;
    border-bottom-color: #246e1b;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        background-color: #38ab2a;
        *background-color: #319725;
    }

    .btn-primary:active, .btn-primary.active {
        background-color: #2a8220 \9;
    }

.btn-warning {
    background-color: #faa732;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #fbb450, #f89406);
    border-left-color: #f89406;
    border-right-color: #f89406;
    border-top-color: #f89406;
    border-bottom-color: #ad6704;
}

    .btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
        background-color: #f89406;
        *background-color: #df8505;
    }

    .btn-warning:active, .btn-warning.active {
        background-color: #c67605 \9;
    }

.btn-danger {
    background-color: #da4f49 !important;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #ee5f5b, #bd362f) !important;
    border-left-color: #bd362f;
    border-right-color: #bd362f;
    border-top-color: #bd362f;
    border-bottom-color: #802420;
}

    .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
        background-color: #bd362f;
        *background-color: #a9302a;
    }

    .btn-danger:active, .btn-danger.active {
        background-color: #942a25 \9;
    }

.btn-success {
    background-color: #5bb75b;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #62c462, #51a351);
    border-left-color: #51a351;
    border-right-color: #51a351;
    border-top-color: #51a351;
    border-bottom-color: #387038;
}

    .btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
        background-color: #51a351;
        *background-color: #499249;
    }

    .btn-success:active, .btn-success.active {
        background-color: #408140 \9;
    }

.btn-info {
    background-color: #49afcd;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #5bc0de, #2f96b4);
    border-left-color: #2f96b4;
    border-right-color: #2f96b4;
    border-top-color: #2f96b4;
    border-bottom-color: #1f6377;
}

    .btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        background-color: #2f96b4;
        *background-color: #2a85a0;
    }

    .btn-info:active, .btn-info.active {
        background-color: #24748c \9;
    }

.btn-inverse {
    background-color: #1677b2;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(top, #008cd6, #36587d);
    border-left-color: #36587d;
    border-right-color: #36587d;
    border-top-color: #36587d;
    border-bottom-color: #1f3248;
}

    .btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
        background-color: #36587d;
        *background-color: #2e4b6b;
    }

    .btn-inverse:active, .btn-inverse.active {
        background-color: #273f59 \9;
    }

button.btn, input[type="submit"].btn {
    *padding-top: 2px;
    *padding-bottom: 2px;
}

    button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button.btn.btn-large, input[type="submit"].btn.btn-large {
        *padding-top: 7px;
        *padding-bottom: 7px;
    }

    button.btn.btn-small, input[type="submit"].btn.btn-small {
        *padding-top: 3px;
        *padding-bottom: 3px;
    }

    button.btn.btn-mini, input[type="submit"].btn.btn-mini {
        *padding-top: 1px;
        *padding-bottom: 1px;
    }