@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Prevision";
}
<link href="~/Content/css/prevision/bootstrap.min.css" rel="stylesheet" />


<link href="~/Content/css/prevision/style.css" rel="stylesheet" />

<div class="image_sep">
    <img src="~/Content/img/prevision/portada_inicio.jpg" />
</div>
<div id="mainWrap">
    <div class="rowmain clearfix">
        <div class="col-sm-10 col-sm-push-1">
            <ul class="list_prod_animals">
                <li><a href="porcino">
                    <img src="~/Content/img/prevision/n-cerdos.svg"><span>PORCINO</span></a></li>
                <li><a href="#">
                    <img src="~/Content/img/prevision/n-huevo.svg"><span>HUEVO</span></a></li>
                <li><a href="#">
                    <img src="~/Content/img/prevision/n-bovino.svg"></i><span>BOVINO</span></a></li>
                <li><a href="#">
                    <img src="~/Content/img/prevision/n-aves.svg"></i><span>AVES</span></a></li>
                <li><a href="#">
                    <img src="~/Content/img/prevision/n-caprino.svg"></i><span>CAPRINO</span></a></li>
                <li><a href="#">
                    <img src="~/Content/img/prevision/n-ovino.svg"></i><span>OVINO</span></a></li>
            </ul>
        </div>
    </div>
</div>
<script src="~/Content/js/parallax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
