<!DOCTYPE html>
<html>
<head>
    <title>Malta</title>
</head>
<body>
    <table style="width:100%;" cellspacing="0" cellpadding="0">

        <tr>
            <td>
                <center>
                    <div style="background-color:#3c454e; width:1022px">
                        <img src="http://test.alopruebas.com.mx/Content/img/email/mc.png" height="100" width="185" />
                    </div>
                </center>
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <div style="width:100%; background-image: url('http://test.alopruebas.com.mx/Content/img/email/pecuarios.jpg'); background-repeat: no-repeat; background-position: center center;">
                    <br />
                    <table style="width:100%;">
                        <tr>
                            <td style="font-size:35px; color:#fff; font-weight:bold;">
                                PRE - COTIZA EN LINEA Y AHORRA TIEMPO
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:22px; color:#fff;">
                                Recupera tu contrase&ntilde;a
                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px; color:#fff;">
                                <br />
                                <br />
                                Garantizar el &oacute;ptimo desempe&ntilde;o en el sector pecuario va m&aacute;s all&aacute; del alimento
                                <br />
                                adecuado, por lo que desarrollamos Programas Nutricionales Diferenciados&reg;.
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:15px; color:#fff; ">
                                <img src="http://test.alopruebas.com.mx/Content/img/email/costales.png" height="263" width="500" />
                                <br />
                                <a href="#URL#" target="_blank" style="display:inline-block; font-size:11px; text-align:center; vertical-align: middle; line-height:25px; text-decoration:none; color: white; background-color:#3c454e;width:90px">Recuperar</a>
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <div style="text-align:left; width:1022px">
                        <div style="float:left; color:#555; font-size:12px;">
                            <br />
                            Texo de M&eacute;xico, S.A. de C.V. (maltaCleyton)<br />
                            Insurgentes sur No. 1602 Int. 19, Col. Credito Constructor, Benito Juarez.<br />
                            M&eacute;xico DF. CP 03940<br />
                            Smart Center: 01 800 5074600<br />
                            Email: serviciosalcliente@maltatexo.com.mx
                        </div>
                        <div style=" float:right; color:#555; font-size:12px;">
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.facebook.com/MaltaCleytonMex/?ref=ts&fref=ts" target="_blank"><img src="http://test.alopruebas.com.mx/Content/img/email/facebook.png" height="27" width="25" /></a>
                            <a href="https://twitter.com/MaltaCleytonMex" target="_blank"><img src="http://test.alopruebas.com.mx/Content/img/email/twitter.png" height="28" width="27" /></a>
                            <br />
                            <img src="http://test.alopruebas.com.mx/Content/img/email/imago-footer.png" height="25" width="22" />
                            <a href="https://www.maltacleyton.com.mx/" style="text-decoration:none;color:#555;" target="_blank">maltacleyton.com.mx</a>
                        </div>
                    </div>
                </center>
            </td>
        </tr>
    </table>
</body>
</html>